# Default owners for everything in the repo

- @VannaDii

# Backend code requires review from backend team

/backend/ @VannaDii

# Shared code requires review from both backend and frontend teams

/shared/ @VannaDii

# Frontend code requires review from frontend team

/frontend/ @VannaDii

# GitHub specific files

/.github/ @VannaDii

# Documentation

/\*.md @VannaDii /docs/ @VannaDii

# CI/CD configuration

/.github/workflows/ @VannaDii
